<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arkueid.testsource"
    android:revisionCode="0"
    android:versionCode="1">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="测试源"
        android:roundIcon="@mipmap/ic_launcher">
        <meta-data
            android:name="on_air_ext"
            android:value="true" />
        <meta-data
            android:name="on_air_ext_version_name"
            android:value="1.0.0" />
        <meta-data
            android:name="on_air_ext_name"
            android:value="测试源" />

    </application>

</manifest>